*{
    margin: 0;
}

ul{
    display: flex;
    background-color: #1e1e1e;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 16rem;
}


li{
    font-size: 2rem;
    color: #FFF;
    filter: drop-shadow(0rem 0rem 1rem rgb(255, 0, 157,0.7));
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 0.16rem;
    font-weight: 600;
}

li:active,li:hover{
    color: #FF009C;
}